@import "variables";

article.tweet {
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.7em;
  margin: 0;
  width: 80%;
  margin-left: 10%;
  border-style: solid;
}

article.tweet:hover {
  box-shadow: 5px 5px #c8c8e1;
}

article.tweet header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

article.tweet header .avatar {
  width: 30px;
  margin-right: 0.5em;
}

article.tweet header .name {
  flex-grow: 0;
}

article.tweet header .handle {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  color: #babace;
}

article.tweet .tweet-content {
  border-bottom: 5px solid $body-color;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

article.tweet .tweet-content-text {
  word-wrap: break-word;
  text-align: left;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

article.tweet footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 60%;
}

article.tweet footer .days-ago {
  padding-left: 1em;
}

article.tweet footer .icons {
  display: flex;
  padding-right: 1em;
  color: #4b5499;
}

article.tweet footer .icons span {
  width: 2em;
}

article.tweet footer .icons #flag:hover {
  color: coral;
}

article.tweet footer .icons #retweet:hover {
  color: aquamarine;
}

article.tweet footer .icons #like:hover {
  color: palevioletred;
}

article.tweet + article.tweet {
  margin-top: 1em;
}
