.page-header {
  display: flex;
  height: 490px;
  width: 100%;
  background-color: #d09e41;
  color: white;
  background-image: url('../images/asfalt-light.png');
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  z-index: 1;
}

.page-header h2 {
  font-family: 'Source Sans Pro', sans-serif;
}

.page-header h2 #first-name {
  font-weight: 600;
}

.page-header h2 #last-name {
  font-weight: 300;
}

@media only screen and (min-width: 1024px) {
  .page-header {
    position: relative;
    height: 500px;
    width: 30%;
    float: left;
    justify-content: center;
    margin-left: 5%;
    margin-top: 8%;
  }
}